*.html linguist-generated=true whitespace=-trailing-space,-blank-at-eof
*.ics text eol=crlf whitespace=-trailing-space,-blank-at-eof
site_libs/** linguist-vendored=true whitespace=-trailing-space,-blank-at-eof
